{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}{% endblock title %} Geoshops
    </title>
    <meta
      name="description"
      content="{% block description %}Exciting stuff!{% endblock description %}"
    />
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
    <link href="{% static 'styles/main.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    {% block stylesheets %}
    <!-- Additional CSS -->
    {% endblock stylesheets %} 
    {% block social_media_tags %} 
    {% endblock social_media_tags %} 
    {% block top_scripts %} 
    {% endblock top_scripts %}
  </head>
  <body class="m-body">
    {% block header %} 
    {% endblock header %}
    <!-- Wrap -->
    <main class="m-content" >
      {% block content %} 
      {% endblock content %}
      <!-- END Wrap -->
    </main>
    <!-- Footer -->
    <footer class="m-footer">
      {% block footer %} 
      {% endblock footer %}
      <!-- END Footer -->
    </footer>
    <!-- Modals -->
    {% block modals %} 
    {% endblock modals %} 
    {% block bottom_scripts %} 
    {% endblock bottom_scripts %}
  </body>
</html>
